<%= link_to( "Go to user list", users_index_path ) %>

<h1>Tweets#search</h1>

<%= render 'tweets/search' %>

<% @result.each do |tweet| %>
  <p> <%= tweet.username %>: <%= tweet.text %> | fv: <%= tweet.favourites %> | rt: <%= tweet.retweets %> </p>
<% end %>
